html,body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0%;

}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "head head head head head head"
        "category products products products products products"
        "footer footer footer footer footer footer";

}

.grid-item {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.grid-item:nth-child(1) {
    grid-area: head;
    background-color: #b2d47b;

}

.grid-item:nth-child(2) {
    grid-area: category;
    background-color: cadetblue;
}

.grid-item:nth-child(3) {
    grid-area: products;
    background-color: #239B56
}

.grid-item:nth-child(4) {
    text-align: center;
    grid-area: footer;
    background-color: lightgreen;
}

.tittle {
    text-align: center;
    font-size: 1.3em;
}

.category {
    display: flex;
    flex-direction: column;

    padding-left: 1em;

}

.category span {
    color: whitesmoke;
}

.stock {
    
    line-height: 0%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 1rem;
    width: 100%;


}

.product {
    text-align: center;
}

#productimg {
    width: 100%;
    border-radius: 100%;
}
.boton{
    
    justify-content: center;
    align-items: center;
    height: 3em;
    
    
}

.color-boton {
    background-color: lightskyblue;
    padding: 1em 3em 1em 3em;
    border: none;
    text-decoration: none;
    font-size: 1em;
    color: black;
    cursor: pointer;
}
